.button
{
    border:none;
    outline:none;
    padding-inline:1rem;
    padding-block:0.75rem;
    cursor: pointer;
    border-radius:5rem;
    transition: all 0.3s ease-in-out ;
    &.primary-button
    {
        background-color: #e1034d;
        color: rgb(46, 24, 24);
    }
    &:active{
        transform: scale(0.98);
    }
    &:hover{
        transform: scale(1.02);
    }
}